.u-section-1 .u-image-1 {
  min-height: 296px;
  background-image: url("images/ichthus-voorblad.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    background-position: 100% 50%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 17px auto 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 574px;
}

.u-section-3 .u-image-1 {
  width: 528px;
  height: 366px;
  margin: 93px -11px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: -319px auto 0 100px;
}

.u-section-3 .u-text-2 {
  margin: 48px auto 60px 100px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 236px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -189px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 675px;
}

.u-section-4 .u-text-1 {
  margin: 80px auto 0 100px;
}

.u-section-4 .u-image-1 {
  width: 470px;
  height: 355px;
  margin: 44px 19px 0 auto;
}

.u-section-4 .u-text-2 {
  margin: -319px auto 60px 95px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-top: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-4 .u-image-1 {
    height: 257px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 616px;
}

.u-section-5 .u-image-1 {
  width: 500px;
  height: 500px;
  margin: 40px 0 0 auto;
}

.u-section-5 .u-text-1 {
  margin: -456px auto 0 100px;
}

.u-section-5 .u-text-2 {
  margin: 76px auto 60px 100px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-5 .u-image-1 {
    height: 340px;
    margin-top: 110px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    width: 219px;
    margin-top: -423px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: 270px;
    margin-top: 394px;
    margin-left: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-6 .u-text-1 {
  margin: 40px auto 0 518px;
}

.u-section-6 .u-text-2 {
  width: 465px;
  margin: 50px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 72px 212px 0 736px;
}

.u-section-6 .u-text-4 {
  margin: -36px 708px 0 185px;
}

.u-section-6 .u-image-1 {
  width: 401px;
  height: 401px;
  margin: 15px auto 0 108px;
}

.u-section-6 .u-image-2 {
  width: 401px;
  height: 401px;
  margin: -401px 108px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 427px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 252px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 112px;
    margin-left: 636px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 608px;
    margin-left: 85px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 327px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 193px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 2px;
    margin-left: 526px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 473px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 60px;
    margin-right: 0;
    margin-left: 75px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 62px;
    margin-right: 0;
    margin-left: 348px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-6 .u-text-2 {
    width: 249px;
    margin-top: 836px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: 151px;
    margin-top: -523px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    width: 195px;
    margin-top: -426px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-1 {
    height: 340px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-2 {
    height: 340px;
    margin-top: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-image-1 {
  width: 1090px;
  height: 353px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 111px;
  }
}