.u-section-1 .u-image-1 {
  min-height: 296px;
  background-image: url("images/ichthus-voorblad.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    background-position: 100% 50%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-image-1 {
  width: 1090px;
  height: 353px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 111px;
  }
}